@model ProductoSucursalViewModel

<div class=" card text-primary">
    <div class="card-header text-center">
        <h5>Editar Producto Sucursal</h5>
    </div>
    <div class=" card-body text-primary">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @* <input type="hidden" asp-for="IdProducto" /> *@
                    <div class="form-group">
                        <label asp-for="IdSucursal">Sucursal</label>
                        <select id="IdSucursal" class="form-control" asp-for="IdSucursal">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="IdSucursal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdProducto">Producto</label>
                        <select id="IdProducto" class="form-control" asp-for="IdProducto">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="IdProducto" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control"></input>
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>

                    <div class=" card-footer text-center">
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                            <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            function cargarOpciones(url, selector, optionText) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Limpiar opciones actuales del selector
                        $(selector).empty();
                        // Agregar opción inicial
                        $(selector).append($('<option>').text('-- Seleccione ' + optionText + ' --').attr('value', ''));

                        if (selector == '#IdSucursal') {
                            $.each(data, function (index, item) {
                                $(selector).append($('<option>').text(item.nombreSucursal).attr('value', item.idSucursal));
                            });
                            //seteo de valores
                            let IdSucursal = '@Model.IdSucursal'; // Obtener el valor del modelo en Razor
                            $('#IdSucursal').val(IdSucursal);

                        } else if (selector == '#IdProducto') {
                            $.each(data, function (index, item) {
                                $(selector).append($('<option>').text(item.nombreProducto).attr('value', item.idProducto));
                            });
                            //seteo de valores
                            let IdProducto = '@Model.IdProducto'; // Obtener el valor del modelo en Razor
                            $('#IdProducto').val(IdProducto);
                        }
                    },
                    error: function () {
                        console.error('Error al cargar ' + optionText.toLowerCase() + '.');
                    }
                });
            }

            // Cargar Sucursales
            cargarOpciones('http://localhost:5014/Sucursals', '#IdSucursal', 'Sucursal');

            // Cargar Productos
            cargarOpciones('http://localhost:5014/Productos', '#IdProducto', 'Producto');
        });
    </script>
}




